.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #F2A51F;
}
.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: #F2A51F;
}
body {
	background-image: url('../img/bg.jpg');
}
.quiet {
	opacity: .75;
}