.top-bar {
	background-color: rgba(0, 0, 0, 0.1);
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: rgba(0, 0, 0, 0);
}
.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: rgba(0, 0, 0, 0);
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: rgba(0, 0, 0, 0);
}
.clear {
	background-color: rgba(0, 0, 0, 0);
}
a:hover {
	
}
body {
	background-image: url('../img/bg.jpg');
}
.quiet {
	opacity: .75;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}