.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background-color: background-color: rgba(0, 0, 0, 0.6);;
}
.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: background-color: rgba(0, 0, 0, 0.6);;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: background-color: rgba(0, 0, 0, 0.2);;
}
body {
	background-image: url('../img/bg.jpg');
}
.quiet {
	opacity: .75;
}